.rowCerti {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.colCerti {
    flex: 25%;
    max-width: 35%;
    padding: 0 4px;
}
  
.colCerti img {
    margin-top: 2px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
   .colCerti {
      flex: 50%;
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .colCerti {
      flex: 100%;
      max-width: 100%;
    }
}